<audio controls:none autoplay loop>
  <source src="https://s3.amazonaws.com/Syntaxxx/bigger-picture.mp3" type="audio/mpeg">
 </audio>

<body style="background-color:">
<center><h1><font size=8><font color=blue>Welcome To Hangman!!</h1>
<center><font size=6><font color=orange> Please enter your names.
<center><form action="player_names" method="post">
<center><h4><font color=purple> Player1:<input type="text" name="player1">
<center></form>
<center><h4><font color=dark purple> Player2:<input type="text" name="player2">
</form>
<center><font color=blue><input type="submit" value="enter">
</form>

</body>