
 
body  {
 background-repeat: no-repeat; 
 background-size: cover;
 background-color: #000;
 background-image: url(https://hrexach.files.wordpress.com/2014/08/og2.gif);
 }


  {
  background-color: red;
   transition: background-color 7s;*/
 }body




















